
mixin articleHeader(author, authorImg, pubTime)
    header.article__info.article_padding
        picture.article__info-img
            source(srcset=authorImg+'.webp', type="image/webp") 
            img(src=authorImg+'.jpg', alt=author)
        section(aria-label='Author '+author)
            a(href="#").article__author= author
            time.article__time(datetime="2019-09-24T05:00-07:00")= pubTime

mixin articlePoster(posterImg, posterAlt)
    picture.article__poster 
        source(srcset=posterImg+'.webp', type="image/webp") 
        img(src=posterImg+'.jpg', alt=posterAlt)
//- -------------------------
                    
main
    .container.article-wrapper
        article.article.block-style
            +articleHeader('Daniel McPherson', 'img/daniel', '1 hr ago')
            +articlePoster('img/article_samsung', 'samsung')
            .article__content.article_padding
                h1#first-article.article__content-heading Samsung Pushes the Edge in S6
                p.article__content-text Samsung, the world’s largest smartphone maker, has a big problem—their approach 
                    | to winning consumers with the best technical specs and the biggest screens has 
                    | run out of steam...
                a.more-btn(href="/") MORE   

        article.article.block-style 
            +articleHeader('Jennifer Loitz', 'img/jennifer', '2 days ago')
            +articlePoster('img/article_contrast', 'contrast')
            .article__content.article_padding
                h1#second-article.article__content-heading Contrast is the Key
                p.article__content-text A group I follow on Facebook, <i>Aurora Borealis Notifications</i>, photograph the 
                    | Northern Lights around the world each night and post their sightings. 
                    | It’s really spectacular to see how impressive nature can be...
                a.more-btn(href="/") MORE

section.pagination(aria-label="pagination")
    .container.flex_wrap
        button.pagination__btn 
            | <svg class="arrow-left" width="16px" height="16px" viewBox="0 0 16 16">
            | <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M16.004,8.999 L3.719,8.999 L9.609,14.998 L8.000,16.000 L-0.004,8.000 L8.000,-0.000 L9.609,1.002 L3.719,7.001 L16.004,7.001 L16.004,8.999 Z"/>
            | </svg>  
            | Previos
        button.pagination__btn 
            | Next
            | <svg class="arrow-right" width="16px" height="16px" viewBox="0 0 16 16">
            | <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M-0.004,8.999 L12.281,8.999 L6.391,14.998 L8.000,16.000 L16.004,8.000 L8.000,-0.000 L6.391,1.002 L12.281,7.001 L-0.004,7.001 L-0.004,8.999 Z"/>
            | </svg>
           
                



        